{% extends 'base.html' %}
{% block content %}


{% load static %}
<!-- Header-->
<!-- Header-->
<header class="banner-header container">
    <img src="{%static 'assets\banners\Untitled.png ' %}" alt="Bannière" class="banner-img"
        style="width: 85vw; margin: auto;">
</header>

<div class="container">
    <div class="row">

        <div class="col-md-6 offset-md-3">

            <br /><br />
            <form method="POST" action="{% url 'update_password' %}">
                {% csrf_token %}

                {{ form.as_p }}
                <br /><br />
                <button type="submit" class="btn btn-secondary">
                    Mettre à jour le mot de passe
                </button>

            </form>

            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
            <br /><br />
        </div>

    </div>
</div>

{% endblock %}